@import "compass/css3"

@font-face {
    font-family: nothing;
    src: url(fonts/roboto.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoMed;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(fonts/roboto.ttf);
}

body {
    font-family: Roboto;
    background: #F0A830;
    padding: 0;
    margin: 0;
    color: black;
}

a, a:link, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}

.header {
    width: 100%;
    border: solid black 0px;
    background-color: #de5842;
    height: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


.nav {
    float: ;
    border: solid black px;
    width: ;
    height: auto;
    background-color: #29ABA4;
    display:none;
}

.main {
   background-color: #BFE1BF;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.footer {
	padding: 5px;
  text-align: right;
    color: black;
  background-color: #de5842;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-family: RobotoMed, FontAwesome;
}

.project-header-image {
     align: middle;
     margin: 0 auto; 
     max-width: 40%;
     max-height: 500px;
     min-width: 30%;
     border-radius: 0px; 
     border-top: solid black 0px;
     border-bottom: solid black 0px;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     margin-top: 10px;
}

.project-header {
     margin: 0 auto;
     width: 99%;
     text-align: center;
     border: solid black 0px;
     background-color:;
}

.project-title {
   font-size: 35px;
   font-family: RobotoMed;
  color: black;
}

.project-author {
   font-size: 24px;
  color: black;
    font-family: Roboto;
}

.project-author:before {
   content: "by ";
}

input[type="text"] {
  display: block;
  float: right;
  margin: 0;
  width: 80px;
    color: #BFE1BF;
  font-size: 18px;
  padding: 12px;
  border: solid 5px #BFE1BF;
  transition: border 0.7s, width 0.7s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input[type="text"]:focus {
  border: solid 5px #BFE1BF;
  width: 200px;
  outline: 0;
}

input[type="text"]::-webkit-input-placeholder, 
input[type="text"]:-moz-placeholder, 
input[type="text"]::-moz-placeholder,
input[type="text"]:-ms-input-placeholder {

}

.logo {
    font-size: 40px;
    font-family: Roboto;
    font-weight: bold;
    color: #000;
}

.project-info-title {
  font-weight: ;
  font-size: 2em;

}

.project-info-text {
    font-size: 1em;
    line-height: 30px;
    font-family: RobotoMed;
}

.project-info-text ul {
   list-style-type: none;
}


blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    color: #de5842;
    text-align: center;
    padding-top: 25px;

}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;

}

blockquote::after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}