<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/flex.css">
		<link rel="stylesheet" href="/styles.css">
		<link rel="stylesheet" href="/templates/nav-top.css">
		<script> 
			$(function() {
				$("#nav-top").load("/templates/nav-top.html"); 
				$("#footer").load("/templates/footer.html");
			}); 
		</script>
		<script>
$(document).ready(function(){
    
    $("#container").delay(1000).fadeOut(function() {
      $(this).text("Education").fadeIn().delay(1000).fadeOut(function() {
      	$(this).text("Tech").fadeIn().delay(1000).fadeOut(function() {
      		$(this).text("Knowledge").fadeIn();
   		 });
       });
    });
    
    $("#give").delay(6300).fadeOut(function() {
        $(this).text("Tech").fadeIn();
    });
        
});
</script>

	</head>
	<body>
		<div id="nav-top"></div>
		

<article id="main2" class="main">
    <div id="about-landing">
        <div id="slogan">
            <div id="give">Give</div>
            <div id="container" class="slide">Hope</div>
        </div>
        <hr width="25%" color="black" NO SHADE>
        <div id="video"><iframe width="640" height="390" src="https://www.youtube.com/embed/7bbD0MqeNqY" frameborder="0" allowfullscreen></iframe></div>
        <hr width="25%" color="black" NO SHADE>
        <div id="continue-arrow">&#xf107;</div>
        <div id="about-content">
            <div id="about-content-title">About TechKnowledge</div>
            <div id="about-content-text">Praesent lobortis massa turpis, non pretium ex rutrum et. Vestibulum ex tortor, mattis et semper sed, interdum a diam. Aliquam id est venenatis ex maximus eleifend eget eget risus. Etiam mauris risus, efficitur at suscipit at, volutpat id justo. Donec dignissim aliquet sapien vel accumsan. Duis mattis, ex non imperdiet vestibulum, ex velit rutrum massa, eu ultrices ante neque in risus. Duis porta neque nibh, id commodo metus mattis sit amet. Proin et sem ut sem tristique gravida. Sed placerat pretium tincidunt. Morbi eu iaculis nibh, non gravida nibh. Proin consectetur scelerisque lacus in porttitor. Donec mollis scelerisque odio sed posuere. Sed ullamcorper ligula sit amet lorem molestie, ac egestas mauris mattis. Aenean sed dictum libero. In molestie ligula in mollis egestas. Aenean convallis nunc ac sapien luctus faucibus.

            <br>
            <br>
                Praesent lobortis massa turpis, non pretium ex rutrum et. Vestibulum ex tortor, mattis et semper sed, interdum a diam. Aliquam id est venenatis ex maximus eleifend eget eget risus. Etiam mauris risus, efficitur at suscipit at, volutpat id justo. Donec dignissim aliquet sapien vel accumsan. Duis mattis, ex non imperdiet vestibulum, ex velit rutrum massa, eu ultrices ante neque in risus. Duis porta neque nibh, id commodo metus mattis sit amet. Proin et sem ut sem tristique gravida. Sed placerat pretium tincidunt. Morbi eu iaculis nibh, non gravida nibh. Proin consectetur scelerisque lacus in porttitor. Donec mollis scelerisque odio sed posuere. Sed ullamcorper ligula sit amet lorem molestie, ac egestas mauris mattis. Aenean sed dictum libero. In molestie ligula in mollis egestas. Aenean convallis nunc ac sapien luctus faucibus.
            </div>
        </div>
    </div>
</article>


		
		
	
		
		<div id="footer"></div>
	</body>
</html>