<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/flex.css">
		<link rel="stylesheet" href="/styles.css">
		<link rel="stylesheet" href="/templates/nav-top.css">
		<script> 
			$(function() {
				$("#nav-top").load("/templates/nav-top.html"); 
				$("#footer").load("/templates/footer.html");
			}); 
		</script>
	</head>
	<body>
		<div id="nav-top"></div>
		
		
		
		
	
		
		<div id="footer"></div>
	</body>
</html>